.popup__form-fields {
  margin: 49px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__form-fields {
    margin: 75px auto 0;
  }
}
