.popup__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: 330px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__form-container {
    max-width: 282px;
    max-height: 322px;
  }
}
